Machine Learning Group 5-20250309T175133Z-001.zip
Machine Learning Group 5-20250309T175133Z-002.zip
Machine Learning Group 5/Jane Austen/Training TXT/
Machine Learning Group 5/Starter Bank/Makayla_bank.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/Becca_Bikes.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/Becca Sigmoid.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/Chantal_B.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/Early_Stopping_Makayla_bikes.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/Ethan_starter_bikes.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/Makayla_bikes.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/sigmoid.h5
Machine Learning Group 5/Bikes (Neural Nets)/sigmoid.keras
Machine Learning Group 5/Gradient Trees (Reddic Housing)/Chantal_Starter_Housing_Data.ipynb
Machine Learning Group 5/Gradient Trees (Reddic Housing)/Copy of Becca.ipynb
Machine Learning Group 5/Gradient Trees (Reddic Housing)/Copy of Copy of Becca.ipynb
Machine Learning Group 5/Gradient Trees (Reddic Housing)/Ethan - starter_housing.ipynb
Machine Learning Group 5/Gradient Trees (Reddic Housing)/Makayla_housing.ipynb
Machine Learning Group 5/Bikes (Neural Nets)/Kyle B Bikes.ipynb
Machine Learning Group 5/Gradient Trees (Reddic Housing)/KyleB_housing.ipynb
Machine Learning Group 5/Jane Austen/Personal Notebooks/Becca book_publishing_starter.ipynb
Machine Learning Group 5/Jane Austen/Personal Notebooks/Makayla_book_publishing_starter.ipynb
Machine Learning Group 5/Jane Austen/Personal Notebooks/KyleB_book_publishing_starter.ipynb
Machine Learning Group 5/Jane Austen/Personal Notebooks/Ethan_s Corner/Ethan Book Publishing.ipynb
Machine Learning Group 5/Jane Austen/Personal Notebooks/Ethan_s Corner/Copy of Ethan Book Publishing.ipynb
Machine Learning Group 5/Signs (CNN)/Becca Inception.ipynb
Machine Learning Group 5/Signs (CNN)/Becca_inception.keras
Machine Learning Group 5/Signs (CNN)/Chantal_ResNet50.ipynb
Machine Learning Group 5/Signs (CNN)/chantal_resnet50_1.keras
Machine Learning Group 5/Signs (CNN)/Chantal_ResNextBasic.ipynb
Machine Learning Group 5/Signs (CNN)/Copy of Becca Inception.ipynb
Machine Learning Group 5/Signs (CNN)/Copy of Dense Only Chantal_ResNet50.ipynb
Machine Learning Group 5/Signs (CNN)/Dense Only Chantal_ResNet50.ipynb
Machine Learning Group 5/Signs (CNN)/Ethan Signs V2.ipynb
Machine Learning Group 5/Signs (CNN)/Ethan Signs.ipynb
Machine Learning Group 5/Signs (CNN)/KyleB_signs_VGG16.ipynb
Machine Learning Group 5/Signs (CNN)/Makayla_signs_VGG16.ipynb
Machine Learning Group 5/Signs (CNN)/Makayla_signs.ipynb
Machine Learning Group 5/Signs (CNN)/Old_Chantal_ResNet50.ipynb
Machine Learning Group 5/Signs (CNN)/Holdout Predictions/ethan-predictions.csv
Machine Learning Group 5/Starter Bank/Becca.ipynb
Machine Learning Group 5/Starter Bank/Ethan.ipynb
Machine Learning Group 5/Signs (CNN)/mastre_resnet.h5
Machine Learning Group 5/Signs (CNN)/resnet50_epoch_07.h5
Machine Learning Group 5/Signs (CNN)/resnet50_roadsigns_v2.h5
Machine Learning Group 5/Signs (CNN)/resnet50_roadsigns.h5
Machine Learning Group 5/Signs (CNN)/scratch_mastre_resnet.h5
Machine Learning Group 5/Signs (CNN)/resnet50_roadsigns.mlprogram/variables/
